In [1]:
import numpy as np
import pandas as pd
from pandas import Series

1. Series yaratish
2. Faqat qiymatlarini ko'rish
3. Faqat indekslarini ko'rish
4. Elementlariga indeks bo'yicha murojat qilish
5. Series indekslariga qiymat berish
6. Bir vaqtda bir qancha elementlarni olish
7. Filtrlash va arifmetik amallar bajarish

In [2]:
# Series yaratish
obj = Series([1, -2, 3.3, 4, -5.5, -6])
obj

0    1.0
1   -2.0
2    3.3
3    4.0
4   -5.5
5   -6.0
dtype: float64

In [3]:
# Faqat qiymatlarni olish
obj.values

array([ 1. , -2. ,  3.3,  4. , -5.5, -6. ])

In [4]:
# Faqat indekslarni olish
obj.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
# Qiymatlarni indeksi orqali olish
print(obj[3]) #4.0 ni beradi
print(obj[1]) #-2.0
print(obj[5]) #-6.0

4.0
-2.0
-6.0

In [7]:
# Series indekslariga qiymat berish
obj2 = Series([1, 3, 5, 2, 4, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])
obj2

a    1
b    3
c    5
d    2
e    4
f    6
dtype: int64

In [8]:
# Indeks yordamida qiymatlarni olish 
print(obj2['e']) #4
print(obj2['b']) #3
print(obj2['f']) #6
print(obj2['a']) #1

4
3
6
1

In [9]:
# Bir vaqtda bir nechta qiymatlarini olish
obj2[['d', 'e', 'c']] #2, 4, 5

d    2
e    4
c    5
dtype: int64

In [10]:
obj[[3, 4, 5]]

3    4.0
4   -5.5
5   -6.0
dtype: float64

In [11]:
# Yangi kattaroq Series yaratamiz
obj3 = Series([100, 1100, 1200, 1300, 1350, 1430, 1450, 1510, 1520, 1560, 1600, 1800], index=['Malibu1', 'Malibu2', 'Tracker', 'Captiva3', 'Captiva4', 'Volvo', 'Mercadez', 'BMW', 'Renjo', 'Bentley', 'Lacetti', 'Cobalt'])
obj3

Malibu1      100
Malibu2     1100
Tracker     1200
Captiva3    1300
Captiva4    1350
Volvo       1430
Mercadez    1450
BMW         1510
Renjo       1520
Bentley     1560
Lacetti     1600
Cobalt      1800
dtype: int64

In [12]:
# Qiymatlari ustida filtrlash 
obj3[obj3>1430] # Seriesimizdagi ma'lumotlardan faqat 1430 dan katta bo'lganlarini oberadi

Mercadez    1450
BMW         1510
Renjo       1520
Bentley     1560
Lacetti     1600
Cobalt      1800
dtype: int64

In [17]:
# Faqat C harfi bilan boshlanediganlarini chiqarib beradi
obj3[obj3.index.str.startswith('C')]

Captiva3    1300
Captiva4    1350
Cobalt      1800
dtype: int64

In [20]:
# Qiymatlar ustida arfimetik amallar bajarish
obj3

Malibu1      100
Malibu2     1100
Tracker     1200
Captiva3    1300
Captiva4    1350
Volvo       1430
Mercadez    1450
BMW         1510
Renjo       1520
Bentley     1560
Lacetti     1600
Cobalt      1800
dtype: int64

In [23]:
# Trackerni qiymatiga 100 qo'shamiz | Asl Seriesga ta'sir qimiydi
obj3['Tracker']+100

1300

In [24]:
obj3['Captiva3']+obj3['Captiva4']

2650

In [25]:
# Barcha qiymatlarni 2 ga ko'apytiradi
obj3*2

Malibu1      200
Malibu2     2200
Tracker     2400
Captiva3    2600
Captiva4    2700
Volvo       2860
Mercadez    2900
BMW         3020
Renjo       3040
Bentley     3120
Lacetti     3200
Cobalt      3600
dtype: int64

In [26]:
# Series qiymatlari ustida numpy arifmetik amallarniyam bajarishimiz mumkin
np.log(obj3)

Malibu1     4.605170
Malibu2     7.003065
Tracker     7.090077
Captiva3    7.170120
Captiva4    7.207860
Volvo       7.265430
Mercadez    7.279319
BMW         7.319865
Renjo       7.326466
Bentley     7.352441
Lacetti     7.377759
Cobalt      7.495542
dtype: float64

In [27]:
# Exponentini hisobliydi
np.exp(obj3)

C:\Users\Izzat\AppData\Roaming\Python\Python311\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

Malibu1     2.688117e+43
Malibu2              inf
Tracker              inf
Captiva3             inf
Captiva4             inf
Volvo                inf
Mercadez             inf
BMW                  inf
Renjo                inf
Bentley              inf
Lacetti              inf
Cobalt               inf
dtype: float64

Lug'atdan Series yaratishni 2 ta usuli

In [29]:
# birinchi usul 1.dct yasash 2.Seriesga o'girish
dct = {'Mol':75000, 'Qo\'y':80000, 'Tovuq':24000, 'Un':7000, 'Non':3200, 'Yog':16000, 'Paxta_yog':15000, 'Sut':5500, 'Guruch':24000}
obj_dct = Series(dct)
obj_dct

Mol          75000
Qo'y         80000
Tovuq        24000
Un            7000
Non           3200
Yog          16000
Paxta_yog    15000
Sut           5500
Guruch       24000
dtype: int64

In [31]:
# ikkinchi usul . Toridan tori Seriesga dctni berib ketish
obj_dct2 = Series({'Mol':75000, 'Qo\'y':80000, 'Tovuq':24000, 'Un':7000, 'Non':3200, 'Yog':16000, 'Paxta_yog':15000, 'Sut':5500, 'Guruch':24000})
obj_dct2

Mol          75000
Qo'y         80000
Tovuq        24000
Un            7000
Non           3200
Yog          16000
Paxta_yog    15000
Sut           5500
Guruch       24000
dtype: int64

In [32]:
# Huddi python_lugatdek ishlash
'Mol' in obj_dct2

True

In [33]:
"Qo'y" in obj_dct2

True

In [34]:
'Tarvuz' in obj_dct2

False

In [35]:
obj_dct2

Mol          75000
Qo'y         80000
Tovuq        24000
Un            7000
Non           3200
Yog          16000
Paxta_yog    15000
Sut           5500
Guruch       24000
dtype: int64

In [36]:
# Lug'at bn yaratilgan Seriesni indekslar tartibini o'zgaritirish
obj_dct3 = Series(dct, index=['Non', 'Sut', 'Qovun', 'Guruch', 'Mol', "Qo'y", 'Tarvuz', 'Tovuq', 'Un', 'Yog', 'Paxta_yog'])
obj_dct3

Non           3200.0
Sut           5500.0
Qovun            NaN
Guruch       24000.0
Mol          75000.0
Qo'y         80000.0
Tarvuz           NaN
Tovuq        24000.0
Un            7000.0
Yog          16000.0
Paxta_yog    15000.0
dtype: float64

In [38]:
# Seriesda mavjud bo'lmagan qiymatlarni aniqlash
obj_dct3.isnull() # yo'q bo'lsa -> True

Non          False
Sut          False
Qovun         True
Guruch       False
Mol          False
Qo'y         False
Tarvuz        True
Tovuq        False
Un           False
Yog          False
Paxta_yog    False
dtype: bool

In [39]:
obj_dct3.notnull() # yo'q bo'lsa -> False

Non           True
Sut           True
Qovun        False
Guruch        True
Mol           True
Qo'y          True
Tarvuz       False
Tovuq         True
Un            True
Yog           True
Paxta_yog     True
dtype: bool

2 ta bir xil indeksli Serieslar ustida arifmetik amallar bajarish

In [ ]:
obj_1 = Series([11, 12, 13, 14, 15], index=['son1', '', '', '', ''])