<a href="https://colab.research.google.com/github/Jakbarov7/LearnDataScienceBootcamp/blob/main/pandas/2_les_Sr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1-lessonni davomi Series qiymatlari ustida numpy amallarini bajarish
obj = pd.Series([2, 4, 6, 8, 10], index=[11, 12, 13, 14, 15])
obj

11     2
12     4
13     6
14     8
15    10
dtype: int64

In [5]:
# qo'shish
np.add(obj[11], obj[14])

10

In [6]:
# ayirish
np.subtract(obj[15], obj[13])

4

In [7]:
# ko'paytirish
np.multiply(obj[11], obj[14])

16

In [8]:
# Py-dictionary bilan Series yaratishni 2 xil usuli
# 1-usul
dct = {'Malibu':33000, 'Tracker':28000, 'Cobalt':11000, 'Gentra':13000, 'Onix':14500, 'Monza':18000}
sr = pd.Series(dct)
sr

Malibu     33000
Tracker    28000
Cobalt     11000
Gentra     13000
Onix       14500
Monza      18000
dtype: int64

In [9]:
# indekslari orqali qiymatlar olish
sr['Malibu']

33000

In [10]:
sr['Onix']

14500

In [11]:
# 2-usul
sr2 = pd.Series({'Malibu':33000, 'Tracker':28000, 'Cobalt':11000, 'Gentra':13000, 'Onix':14500, 'Monza':18000, 'Damaz':7000, 'Nexia2':4000})
sr2

Malibu     33000
Tracker    28000
Cobalt     11000
Gentra     13000
Onix       14500
Monza      18000
Damaz       7000
Nexia2      4000
dtype: int64

In [12]:
sr2['Nexia2']

4000

In [13]:
# lug'atdagi amallarni bajarish mumkin
'Nexia3' in sr2

False

In [14]:
'Nexia2' in sr2

True

In [15]:
'Tracker' in sr2

True

In [16]:
sr2

Malibu     33000
Tracker    28000
Cobalt     11000
Gentra     13000
Onix       14500
Monza      18000
Damaz       7000
Nexia2      4000
dtype: int64

In [17]:
# Lug'at ko'rinishida yaratilgan Seriesni indekslarini tartiblash
cars = ['Nexia2', 'Tracker', 'Jiguli', 'Onix', 'Damaz', 'Maskvich', 'Malibu', 'Cobalt', 'Monza', 'Tico', 'Gentra']
sr3 = pd.Series({'Malibu':33000, 'Tracker':28000, 'Cobalt':11000, 'Gentra':13000, 'Onix':14500, 'Monza':18000, 'Damaz':7000, 'Nexia2':4000}, index=cars)
sr3

Nexia2       4000.0
Tracker     28000.0
Jiguli          NaN
Onix        14500.0
Damaz        7000.0
Maskvich        NaN
Malibu      33000.0
Cobalt      11000.0
Monza       18000.0
Tico            NaN
Gentra      13000.0
dtype: float64

In [18]:
# yuqorida oldin mavjud bo'lmagan indekslarga NaN qilib ketadi . Ana shularni qiymatlarini o'zgartiramiz
sr3['Tico'] = 1000
sr3['Maskvich'] = 600
sr3['Jiguli'] = 800
sr3

Nexia2       4000.0
Tracker     28000.0
Jiguli        800.0
Onix        14500.0
Damaz        7000.0
Maskvich      600.0
Malibu      33000.0
Cobalt      11000.0
Monza       18000.0
Tico         1000.0
Gentra      13000.0
dtype: float64